mkdocs-material 
mkdocs-material-extensions
mkdocs-material[recommended,imaging]
mkdocs-meta-descriptions-plugin
mkdocs-static-i18n
mkdocs-git-revision-date-localized-plugin
mkdocs-open-in-new-tab
pillow 
cairosvg